.search-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 21px;
  margin-bottom: 21px;

  .search-form {
    display: flex;
    width: 80%;
    input {
      @include titillium-web-bold;
      color: $white;
      font-size: 1.7em;
      border-top: 2px solid lightseagreen;
      border-left: 2px solid lightseagreen;
      border-bottom: 2px lightseagreen solid;
      border-right: 2px transparent solid;
      width: 100%;
      background-color: transparent;
      outline: none;
      padding: 10px;
    }
  }
}

.search-button {
  border: $primary 1px solid;
  background-color: $primary;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  color: $white;
  width: 80px;
  margin-left: -2px;
  font-size: 1.5em;

  &:hover {
    border: $dark-primary 1px solid;
    background-color: $dark-primary;
  }
}
