html,
body {
  margin: 0;
  background-color: $dark-theme;
  @include titillium-web-semibold();
}

.app {
  width: 100vw;
  .app-container {
    padding: 10px 20px;
  }
}

a {
  text-decoration: none;
}

$transition-time: 0.1s;

%transition-all-ease {
  transition: all $transition-time ease;
}

%truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h1,
h2,
h3,
h4 {
  @include titillium-web-semibold();
}

.loading {
  width: calc(100% - 142px);
  padding: 42px;
  display: flex;
  justify-content: center;
  font-size: 2em;
  color: white;
  flex-direction: column;

  h2 {
    font-size: 0.8em;
    word-wrap: break-word;
  }
}
