body {
  background-color: $dark-theme;
  @include titillium-web-semibold();
}

#app {
  display: flex;
  justify-content: center;

  .app-container {
    width: 1500px;
  }
}

a {
  text-decoration: none;
}

$transition-time: 0.1s;

%transition-all-ease {
  transition: all $transition-time ease;
}

%truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h1,
h2,
h3,
h4 {
  @include titillium-web-semibold();
}

.loading {
  width: 100%;
  padding: 42px;
  display: flex;
  justify-content: center;
  font-size: 2em;
  color: white;
}
