@media (max-width: 48em) {
  .date-range-slider-form {
    margin: 70px 0px 42px 0px;
    .grid {
      grid-template-columns: 1fr;
      grid-gap: 60px;

      .btn {
        height: 60px;
      }
    }
  }

  .profile-card {
    flex-direction: column;
    .user-data-cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  .vx-legend {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    font-size: 0.8em;
    margin-left: 55px;
  }

  .follower-chart-wrapper,
  .bar-chart-wrapper {
    .no-projects {
      display: flex !important;
      justify-content: center !important;
      font-size: 1.2em;
      margin-bottom: 21px;
    }
    svg {
      margin-top: 70px !important;
    }
  }

  .follower-chart-wrapper {
    width: calc(100% - 60px);
  }

  .follower-charts {
    .follower-chart-item {
      grid-template-columns: 1fr;
      grid-gap: 15px;

      .follower-avatar {
        flex-direction: row;
        align-items: center;
        .follower-username {
          margin-top: 0px;
          margin-left: 15px;
          font-size: 1.1em;
        }
      }
    }
  }
}
